//====================================================================================================
.header {
  position: fixed;
  width: 100%;
  z-index: 50;
  left: 0;
  top: 0px;
  border-bottom: 1px solid #d9d9d9;
  background-color: #fff;
  -webkit-box-shadow: 4px 4px 8px 0px rgba(34, 60, 80, 0.2);
  -moz-box-shadow: 4px 4px 8px 0px rgba(34, 60, 80, 0.2);
  box-shadow: 4px 4px 8px 0px rgba(34, 60, 80, 0.2);
  &__row {
    @include flexbox();
    align-items: center;
    font-size: 18px;
    justify-content: space-between;
    height: 70px;
  }
  &__logo {
    font-weight: 700;
    span {
      color: #3668ff;
    }
  }
}
.menu {
  &__list {
    @include flexbox();
    & li {
      margin-right: 15px;
      cursor: pointer;
      color: #000;
      @media (min-width: $md1+px) {
        &:hover {
          @include anim(0.3s, 0s);
          color: #3668ff;
        }
      }
    }
  }
}
.menu__list li.active {
  color: #3668ff;
}

@media (max-width: $md2+px) {
  .menu__list {
    flex-direction: column;
    flex-wrap: wrap;
    background-color: #c0e3ff;
    position: fixed;
    transform: translateX(100%);
    top: 0;
    right: 0;
    height: 100vh;
    width: 50%;
    padding-top: 3.5rem;
    transition: transform 0.3s ease-in-out;
    & li {
      margin-bottom: 20px;
      font-size: 24px;
      text-align: center;
      margin-right: 0;
    }
  }
}

.styledBurger {
  width: 2rem;
  height: 2rem;
  position: fixed;
  top: 15px;
  right: 20px;
  z-index: 20;
  display: none;
  @media (max-width: $md2+px) {
    display: flex;
    justify-content: space-around;
    flex-flow: column nowrap;
  }
  .elementBurger {
    width: 2rem;
    height: 0.25rem;
    background-color: #333;
    border-radius: 10px;
    transform-origin: 1px;
    transition: all 0.3s linear;
    &:nth-child(1) {
      transform: rotate(0);
    }
    &:nth-child(2) {
      opacity: 1;
      transform: translateX(0);
    }
    &:nth-child(3) {
      transform: rotate(0);
    }
  }
}
.menu__list.open {
  transform: translateX(0%);
}
.styledBurger.open {
  .elementBurger:nth-child(1) {
    transform: rotate(45deg);
  }
  .elementBurger:nth-child(2) {
    transform: translateX(100%);
    opacity: 0;
  }
  .elementBurger:nth-child(3) {
    transform: rotate(-45deg);
  }
  .elementBurger {
    background-color: #3668ff;
  }
}
